body{margin:0;
    }
.mybg{
    height:100vh;
    width:100vw;
    position:fixed;
    overflow:hidden;
    background-attachment:fixed;
    background-size:100vh 100vw;
    background:linear-gradient(0deg, #041445 25%, #EB388A 50%, #FE5C2E 70%, #F8E602);
}
.mybg img{
    position:absolute;
    bottom:-50px;
}
/****** GLOBAL STYLES ****************/
.img-wrap{border-radius:9999em; height:150px; width:150px; position:relative; overflow:hidden;display:inline-block;}
.img-wrap img{ width:100%;}
#selfie{margin-top:-10px;}
/*************************************/
.img-frame{position:absolute;border-radius:9999em;height:250px;width:250px;left:calc(50% - 125px); top:0px;
background:#C1E3FE;
background-image:url('./img/moon.PNG');
 background-size:cover;

     box-shadow: 0 0 5px 2px #fff;
    box-sizing:border-box;
}


h1{margin-top:-20px;position:relative;font-family:'Yellowtail',sans-serif;color:#FF2442; font-size:75px; margin-bottom:30px;
  background: -webkit-linear-gradient(#FB2F88, #FF2442);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

    z-index:1;
    transform:rotate(-5deg);
}
.stroke{position:absolute;
    z-index:0;
    background-image:url('./img/underline.svg');background-repeat:no-repeat; background-size:100% 100%;
    height:30px;width:80%;left:10%;bottom:-10px;

}



h2{margin:15px;
    font-family:'Open Sans',sans-serif;color:#FEC900;font-size:50px;font-weight:bold;

  background: rgba(252,242,253,1);
background: -moz-linear-gradient(top, rgba(252,242,253,1) 0%, rgba(252,242,253,1) 18%, rgba(106,65,144,1) 31%, rgba(15,13,15,1) 51%, rgba(253,253,255,1) 51%, rgba(124,171,222,1) 68%, rgba(0,106,181,1) 83%, rgba(0,0,0,1) 91%, rgba(0,0,0,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(252,242,253,1)), color-stop(18%, rgba(252,242,253,1)), color-stop(31%, rgba(106,65,144,1)), color-stop(51%, rgba(15,13,15,1)), color-stop(51%, rgba(253,253,255,1)), color-stop(68%, rgba(124,171,222,1)), color-stop(83%, rgba(0,106,181,1)), color-stop(91%, rgba(0,0,0,1)), color-stop(100%, rgba(0,0,0,1)));
background: -webkit-linear-gradient(top, rgba(252,242,253,1) 0%, rgba(252,242,253,1) 18%, rgba(106,65,144,1) 31%, rgba(15,13,15,1) 51%, rgba(253,253,255,1) 51%, rgba(124,171,222,1) 68%, rgba(0,106,181,1) 83%, rgba(0,0,0,1) 91%, rgba(0,0,0,1) 100%);
background: -o-linear-gradient(top, rgba(252,242,253,1) 0%, rgba(252,242,253,1) 18%, rgba(106,65,144,1) 31%, rgba(15,13,15,1) 51%, rgba(253,253,255,1) 51%, rgba(124,171,222,1) 68%, rgba(0,106,181,1) 83%, rgba(0,0,0,1) 91%, rgba(0,0,0,1) 100%);
background: -ms-linear-gradient(top, rgba(252,242,253,1) 0%, rgba(252,242,253,1) 18%, rgba(106,65,144,1) 31%, rgba(15,13,15,1) 51%, rgba(253,253,255,1) 51%, rgba(124,171,222,1) 68%, rgba(0,106,181,1) 83%, rgba(0,0,0,1) 91%, rgba(0,0,0,1) 100%);
background: linear-gradient(to bottom, rgba(252,242,253,1) 0%, rgba(252,242,253,1) 18%, rgba(106,65,144,1) 31%, rgba(15,13,15,1) 51%, rgba(253,253,255,1) 51%, rgba(124,171,222,1) 68%, rgba(0,106,181,1) 83%, rgba(0,0,0,1) 91%, rgba(0,0,0,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcf2fd', endColorstr='#000000', GradientType=0 );

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

    /*Make it better */
   -webkit-text-stroke: 2px #999;

}



.wrapper{display:flex; justify-content:center;align-items:center;}

.rows{text-align:center;width:800px;position:relative; border-left:2px solid #FF2442; border-right:2px solid #FF2442;;background:rgba(4,20,69,0.85);min-height:100vh; box-shadow:0px 0px 3px 2px #FF2442; }
.billboard{ padding-top:50px;}
.subtitle{color:white; font-family:'Montserrat',sans-serif;width:70%;margin:0 auto; text-align:left;}
.projects{padding:0px 25px;
/*    background-image:url('./img/rwave.svg');*/

    background-repeat:no-repeat; background-position:center;

}


.centered{text-align:center;}
.cards{display:flex;flex-flow:row wrap;}
.card:hover{box-shadow:0px 0px 3px 2px #FF2442; transition:0.2s ease-out; transform: scale(1.05);}

.card{
    flex: 0 calc(33% - 34px);
    min-height:250px;
    border-radius:15px;
    overflow:hidden;
    margin:15px;
    cursor:pointer;
    transition:0.2s ease-out;
    border:2px solid #FF2442;
    font-family:'Montserrat',sans-serif;
}

.card-img{width:100%;height:180px; overflow:hidden;}
.card-img img{ height:180px;min-width:100%;}
.card-title h3{margin:5px;font-family:'Yellowtail';font-size:30px; color:#FF2442;font-weight:bold;transform:rotate(-3deg);}
.card-display p{margin:10px;text-align:left;}
.card a{text-decoration:none; color:white;}
.subtitle a{color:white;}



/*************** CIT 261 ********************/
#cit261{    width:40%; margin-left:30%;}
 .cit261{
     text-decoration:none;
      background-image:url(./img/moon2.svg);
     background-color:#ffc55a;
     background-size:20% auto;
     background-repeat:no-repeat;
     background-position:center 60px;
    border:2px solid #FF2442;
    border-radius:15px;
     transition: 0.2s ease-out;
}
.cit261:hover{
    background-position:center center;
    background-size:110% auto;
    box-shadow:0px 0px 3px 2px #FF2442;
    transform: scale(1.05);
    transition:scale 0.2s ease-out, background .5s ease-out;
}

.cit261 p{ transform:rotate(-3deg);padding:5px 10px;margin:0;    }
.cit261link{
    font-family:'Yellowtail';
    font-size:30px;
    color: #FF2442;
    font-weight:bold;
    text-decoration:none;
}
/********************/

/********************/


/***********************************************************************************
************** MEDIA SCREENS *******************************************************
***********************************************************************************/
/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
/* Styles */
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) {
/* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {
/* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
/* Styles */
}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
/* Styles */
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
/* Styles */
}
