*{font-family:sans-serif;}
body{margin:0;}
#modal_space {position:absolute; top:0;}
/****** RIBBON ********/
.ribbon:after{
    content:"";
    float:left;
    border:3em solid darkred;
      border-right-color:transparent;
}
.ribbon div{
    color:white; background:darkred;
    height:6em;
    overflow:hidden; position:relative;
    float:left;
    margin:0;
    padding:15px;
    box-sizing:border-box;
    vertical-align:middle;
    width:700px;
}
.ribbon div:before{
    content:"Today's Topic:";
    font-weight:bold;
    font-style:italic;
}
#fluency{
    position:fixed;
    top:15px;
    cursor:pointer;
    width:900px;
    max-width:calc(900px - 1.5em);
    transition: 0.2s ease-in-out;
}
.fluency-active{left:0;transition:0.5s ease-in-out;}
.fluency-inactive{left: -700px;}
.fluency-inactive:hover{left:-675px;}
/****** END - RIBBON ********/
main{
    position:absolute;
    height:100vh;
    max-height:100vh;
    width:100%;
    padding:150px;

    z-index:-1;
    box-sizing:border-box;

}
section{
    display:flex;
    flex-direction:column;
    border-radius:30px;
    transition:.5s;
    overflow:hidden;

    position:absolute;
    top:150px;
    left:150px;
    height:calc(100vh - 300px);
    min-height: 400px;
    width:calc(100vw - 300px);
    box-sizing:border-box;
    padding:3em;
    box-shadow:5px 5px 5px 5px #999;
}
section.active{
    opacity:1;
    z-index:1
}
section.inactive{
    opacity:0;
    z-index:0;
}
#control_buttons{
    position:fixed;
    bottom:30px;
    border-radius:9999em;
    left: 50%;
    transform: translate(-50%, 0);
    height:20px;
    background:black;
    z-index:1;
    display:flex;
    flex-direction:row;
}
.control_button{
    height:10px;
    width:10px;
    border-radius:9999em;
    background:#ddd;
    padding:2px;
    margin:3px;

}
.control_button.active{
    background:#777;
    transition:.5s;
}

#arrowleft,#arrowright{
    height:50px;
    width:50px;
     border: solid black;
    border-width: 0 20px 20px 0;
    border-radius:5px;
    position:fixed;
    cursor:pointer;
    top:50%;
    transform:translate(0,-50%);
}
#arrowleft{
    left:20px;
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);}
#arrowright{
    right:20px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

h2{font-size:xx-large;}
pre{
    font-family:monospace;
    background: white;
    font-size:x-large;
    width:80%;
    margin:auto;
    padding:15px;
    border: 2px dashed;
}
.cols{ width:100%;
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
    orphans:3;
    widows:3;
    -webkit-orphans: 3;
      -webkit-widows: 3;
    box-sizing:border-box;
    height:90%;

}
section p:first-child{margin-top:0;}


section{background:white;}
main{background:#dadada;}

@media screen and (max-width: 1100px){
    pre{
        font-size:large;
    }
}
@media screen and (min-width: 1101px){
    p{
        font-size:large;
    }
}
